PUBLIC_SANITY_PROJECT_ID=
PUBLIC_SANITY_DATASET=production
PUBLIC_TURNSTILE_SITE_KEY=
RESEND_API_KEY=
TURNSTILE_SECRET_KEY=
ENQUIRY_TO_EMAIL=nico@vermicompostfarm.co.za
ENQUIRY_FROM_EMAIL=website@vermicompostfarm.co.za
SITE_URL=https://www.vermicompostfarm.co.za
